%% -*- erlang -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2012-2015 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{eunit_opts, [verbose]}.
{so_name, "eleveldb.so"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.
{deps, [
    {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {branch, "feature/otp-17"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "feature/otp-17"}}}
]}.

{xref_checks, [undefined_function_calls]}.

{port_sources, ["c_src/*.cc"]}.

{port_env, [
    %% Make sure to set -fPIC when compiling leveldb
    {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
    {"CXXFLAGS", "$CXXFLAGS -Wall -O3 -fPIC"},
    {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/leveldb/include"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/leveldb/libleveldb.a c_src/system/lib/libsnappy.a -lstdc++"}
]}.

{pre_hooks, [
    {'get-deps', "c_src/build_deps.sh get-deps"},
    {compile, "c_src/build_deps.sh"}
]}.

{post_hooks, [
    {clean, "c_src/build_deps.sh clean"}
]}.
