%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{require_otp_vsn, "R1[45]"}.

%% == Erlang Compiler ==

{erl_opts, [%{d,'DEBUG',true}, debug_info,
            %fail_on_warning,
            strict_validation,
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record ]}.

%% == Port Compiler ==

{port_env, [
            %% Make sure use position independent code (-fPIC) when compiling
            {"CFLAGS", "$CFLAGS -fPIC"},
            {"CXXFLAGS", "$CXXFLAGS -fPIC"},
            {"DRV_CFLAGS", "$DRV_CFLAGS -Werror -I c_src/leveldb/include"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/leveldb/libleveldb.a c_src/system/lib/libsnappy.a -lstdc++"}
           ]}.
{port_specs, [{"priv/eleveldb.so", ["c_src/*.cc"]}]}.

%% == EUnit ==

{cover_enabled, true}.
{cover_export_enabled, true}.

{eunit_opts, [  verbose , {report, {eunit_surefire, [{dir, "."} ]}}]}.

%% == Cover ==

%% == QuickCheck ==

%% == Cleanup ==

{clean_files, ["*.eunit", "ebin/*.beam"]}.

%% == Dependencies ==

%{deps, [ {sext, ".*", {git, "git://github.com/esl/sext", {branch, "master"}}} ]}.

%% == Pre/Post Command Hooks ==

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"}]}.
{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.

%% == xref ==

{xref_warnings, true}.
{xref_checks, [exports_not_used, undefined_function_calls]}.
